*{
	margin:0;
	padding:0;
}
.bkimg{
	height:100vh;
	width:100%;
	background-image:url('../Images/sky.jpg');
	background-size:cover;
	/*position:relative;*/
}
.road{
	height:200px;
	width:100%;
	position:absolute;
	background-image:url('../Images/road.jpg');
	background-repeat:repeat-x;
	bottom:0;
}
.city{
	height:250px;
	width:100%;
	background-image:url('../Images/city.png');
	background-repeat:repeat-x;
	position:absolute;
	bottom:200px;
}
.car{
	width:400px;
	top:180px; /*parent of car is city so 150px from top of city*/ 
	position:absolute;
	margin-left:35%;
	/*margin-top:10%;*/
	/*bottom:-60px;*/
}
.car img{
	width:100%;
}
.wheel{
	left:30%;
	position:absolute;
	bottom:80px;
	/*z-index:5;*/
}
.wheel img{
	height:72px;
	width:72px;
	/*position:absolute;*/
}
#frwheel{
	left:160px;
	position:absolute;
}
#bkwheel{
	left:-85px;
	position:absolute;
}